/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 200; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --section-color: hsl(var(--hue-color), 92%, 90%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
    --card-color: #fff;
    --large-image-opacity: 0.9;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margins Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
  /* HSL color mode */
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --section-color: hsl(var(--hue-color), 29%, 20%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
  --card-color: rgba(255, 255, 255, 0.8);
  --large-image-opacity: 0.5;
}

/*========== Button Dark/Light ==========*/
.nav__btns{
  display: flex;
  align-items: center;
}

.change-theme{
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  overflow-x: hidden;
}

main {
  padding: 0;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 1rem 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
  text-align: center;
}

.text__dark{
  color: var(--title-color);
}

.text__light{
  color: var(--text-color-light);
}

.text__small{
  font-size: var(--small-font-size);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted var(--first-color);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 14rem;
  background-color: hsla(var(--hue-color), 69%, 33%, 0.6);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -7rem;
  opacity: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
  transition: all .3s ease;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
  border-color: hsla(var(--hue-color), 69%, 33%, 0.6) transparent transparent transparent;
  transition: all .3s ease;
}

.tooltip:hover {
  color: var(--first-color);
  transition: all .3s ease;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  transition: all .3s ease;
  opacity: 1;
}

.hidden {
  display: none; 
  visibility: hidden;
}

.large__image__end {
  position: absolute;
  z-index: 0;
  bottom: -10rem;
  right: -10rem;
  opacity: var(--large-image-opacity);
  display: none;
  visibility: hidden;
}

.large__image__start {
  position: absolute;
  z-index: 0;
  bottom: -110%;
  left: -10rem;
  opacity: var(--large-image-opacity);
  /* transform: rotate(90deg); */
  display: none;
  visibility: hidden;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== NAV ====================*/
.nav{
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle{
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__toggle{
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover{
  color: var(--first-color);
}

@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
  }
}

.nav__list{
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__icon{
  font-size: 1.2rem;
}

.nav__close{
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav__close:hover{
  color: var(--first-color-alt);
}
/* show menu */
.show-menu{
  bottom: 0;
}

/* Active link */
.active-link{
  color: var(--first-color);
}

/* Change background header */
.scroll-header{
  box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}

/*==================== HOME ====================*/
.home__container{
  gap: 1rem;
}

.home__iphone{
  display: flex;
  margin: auto;
  justify-content: center;
  position: sticky; 
  top: 0;
}

.home__content{
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social{
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon{
  font-size: 1.25rem;
  color: var(--first-color);
}

.home__social-icon:hover{
  color: var(--first-color-alt);
}

.home__blob{
  width: 200px;
  fill: var(--first-color);
}

.home__blob-img{
  width: 150px;
}

.home__data{
  grid-column: 1/3;
}

.home__title{
  font-size: var(--big-font-size);
}

.home__subtitle{
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home__description{
  margin-bottom: var(--mb-2);
}

.home__scroll{
  display: none;
}

.home__scroll-button{
  color: var(--first-color);
  transition: .3s;
}

.home__scroll-button:hover{
  transform: translateY(.25rem);
}

.home__scroll-mouse{
  font-size: 2rem;
}

.home__scroll-name{
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow{
  font-size: 1.25rem;
}

/*==================== BUTTONS ====================*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
}

.button:hover{
  background-color: var(--first-color-alt);
}

.button__icon{
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: .3s;
}

.button--white{
  background-color: #fff;
  color: var(--first-color);
}

.button--white:hover{
  background-color: #fff;
}

.button--flex{
  display: inline-flex;
  align-items: center;
}

.button--small{
  padding: .75rem 1rem;
}

.button--link{
  padding: 0;
}
 
/*==================== ABOUT ====================*/
.about{
  background-color: var(--section-color);
}
.about__img{
  width: 265px;
  border-radius: .5rem;
  justify-self: center;
  align-self: center;
}

.about__description{
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: var(--mb-2-5);
}

.about__icon{
  padding-right: 1rem;
  color: var(--first-color-second);
}

.about__info{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

.about__info-title{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  opacity: 0;
}

.about__info-name{
  font-size: var(--smaller-font-size);
}

.about__info-title,
.about__info-name{
  display: block;
  text-align: center;
}

.about__buttons{
  display: flex;
  justify-content: center;
}
/*==================== SKILLS ====================*/
.skills__container{
  row-gap: 0;
}

.skills__header{
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}

.skills__icon,
.skills__arrow{
  font-size: 2rem;
  color: var(--first-color);
}

.skills__icon{
  margin-right: var(--mb-0-75);
}

.skills__title{
  font-size: var(--h3-font-size);
}

.skills__subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.skills__arrow{
  margin-left: auto;
  transition: .4s;
}

.skills__list{
  row-gap: 1rem;
  padding-left: 2.7rem;
  grid-template-columns: repeat(2, 1fr);
}

.skills__titles{
  display: flex;
  justify-content: center;
  margin-bottom: var(--mb-0-25);
}

/* .skills__data{
  display: grid;
  justify-content: center;
} */

.skills__card{
  display: flex;
  justify-content: center;
}

.skills__name{
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.skills__bar,
.skills__percentage{
  height: 5px;
  border-radius: .25rem;
}

.skills__percentage{
  display: block;
  background-color: var(--first-color);
}

.skills__bar{
  background-color: var(--first-color-lighter);
}

.skills__close .skills__list{
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list{
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow{
  transform: rotate(-180deg);
}

.icon-card {
  background-color: var(--card-color);
  border-radius: 11px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
  padding: 20px;
  margin: 10px;
  width: 7rem;
  height: 7rem;
  object-fit: contain;
  transition: all .3s ease;
}

.icon-card:hover {
  background-color: var(--card-color);
  border-radius: 11px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
  padding: 20px;
  margin: 10px;
  transform: scale(1.1);
  transition: all .3s ease;
  /* cursor: pointer; */
}

/*==================== QUALIFICATION ====================*/
.qualification__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}

.qualification__button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.qualification__button:hover {
  color: var(--first-color);
}

.qualification__icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification__info {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 1rem;
}

.qualification__data:nth-child(odd){
  text-align: end;
}

.qualification__data:nth-child(odd) > .qualification__info{
  justify-items: end;
}

.qualification__data:nth-child(even) > .qualification__info{
  justify-items: start;
}

.qualification__card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
  padding: 10px;
  margin-bottom: 10px;
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  transition: all .3s ease;
}

.qualification__card:hover {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
  padding: 10px;
  margin-bottom: 10px;
  transform: scale(1.1);
  transition: all .3s ease;
  cursor: pointer;
}

.qualification__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.qualification__subtitle {
  display: inline-block;
  font-size: var(--normal-font-size);
  color: var(--first-color-alt);
}

.qualification__calendar {
  font-size: var(--smaller-font-size);
  color: var(--first-color);
  white-space: nowrap;
  margin-bottom: var(--mb-1);
}

.qualification__location {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  white-space: nowrap;
}

.qualification__text {
  font-size: var(--normal-font-size);
  /* list-style: initial; */
  text-align: justify;
}

ul.qualification__text {
  /* padding-left: 1rem; */
  text-align: start;
}

ul.qualification__text li::marker {
  color: var(--first-color);
  /* font-size: 1.5em; */
}

.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
  margin-top: 2rem;
}

.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}

.qualification [data-content] {
  display: none;
}

.qualification__active[data-content] {
  display: block;
}

.qualification__button.qualification__active {
  color: var(--first-color);
}

/*==================== SERVICES ====================*/


/* Active Modal */


/*==================== PORTFOLIO ====================*/
.portfolio {
  background-color: var(--section-color);
}

.portfolio__container{
  overflow: initial;
}

.portfolio__content{
  padding: 0 1.5rem;
  align-items: center;
}

.portfolio__img{
  width: 265px;
  border-radius: .5rem;
  justify-self: center;
}

.portfolio__iframe {
  border-radius: .5rem;
  justify-self: center;
  aspect-ratio: 265/149;
  width: 265px;
  /* width: 265px; */
  /* height: 150px; */
}

.porfolio__small_img {
  position: absolute;
  height: 60%;
  border-radius: .5rem;
  z-index: -1;
  left: 35%;
  top: 40%;
  /* transform: rotate(10deg); */
}

.portfolio__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.portfolio__description{
  margin-bottom: var(--mb-0-75);
}

.portfolio__description .tooltip .tooltiptext{
  width: 10rem;
}

.portfolio__button:hover .button__icon{
  transform: translate(.25rem);
}

.portfolio__icon {
  color: var(--first-color);
}

.swiper-button-prev::after,
.swiper-button-next::after{
  content: '';
}

.swiper-portfolio-icon{
  font-size: 2rem;
  color: var(--first-color);
}

.swiper-button-prev{
  left: -.5rem;
}

.swiper-button-next{
  right: -.5rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets{
  bottom: -2.5rem;
}

.swiper-pagination-bullet-active{
  background-color: var(--first-color);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet{
  outline: none;
}
/*==================== PROJECT IN MIND ====================*/


/*==================== TESTIMONIAL ====================*/


/*==================== CONTACT ME ====================*/
.contact__container{
  row-gap: 3rem;
}

.contact__information{
  display: flex;
  margin-bottom: var(--mb-2);
}

.contact__icon{
  font-size: 2rem;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
}

.contact__title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact__subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact__content{
  background-color: var(--input-color);
  border-radius: .5rem;
  padding: .75rem 1rem .25rem;
}

.contact__content textarea{
  resize: none;
}

.contact__label{
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}

.contact__input{
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: .25rem .5rem .5rem 0;
}

/*==================== FOOTER ====================*/
.footer{
  padding-top: 2rem;
}

.footer__container{
  row-gap: 3.5rem;
}

.footer__bg{
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
}

.footer__title{
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__subtitle{
  font-size: var(--small-font-size);
}

.footer__links{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link:hover{
  color: var(--first-color-lighter);
}

.footer__social{
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}

.footer__social:hover{
  color: var(--first-color-lighter);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social{
  color: #fff;
}

/*========== SCROLL UP ==========*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: .8;
  padding: 0 .3rem;
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup:hover{
  background-color: var(--first-color-alt);
}

.scrollup__icon{
  font-size: 1.5rem;
  color: #fff;
}

/* Show scroll */
.show-scroll{
  bottom: 5rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
  width: .60rem;
  background-color: var(--scroll-bar-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
  background-color: var(--scroll-thumb-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--text-color-light);
}



/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px){
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav__menu{
    padding: 2rem .25rem 4rem;
  }
  .nav__list{
    column-gap: 0;
  }

  .home__content{
    grid-template-columns: .25fr 3fr;
  }
  .home__blob{
    width: 180px;
  }
  .skills__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .skills__title{
    font-size: var(--normal-font-size);
  }
  .qualification__data{
    gap: .5rem;
  }
  .project__img{
    width: 200px;
  }
}

@media screen and (max-width: 568px){
  .qualification__data {
    grid-template-columns: 0.05fr 0.95fr 0fr;
    column-gap: 1rem;
  }
  .qualification__data:nth-child(odd) > .qualification__info {
    justify-items: start;
    text-align: start;
  }
  .qualification__time{
    grid-row: 1;
    text-align: start;
    /* margin-top: 1rem; */
  }
  .qualification__data:nth-child(even) > .qualification__time {
    grid-column: 1;
    grid-row: auto;
  }
  .qualification__info{
    grid-column: 2;
    margin-bottom: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 568px){
  .home__content{
    grid-template-columns: max-content 1fr 1fr;
  }
  .home__data{
    grid-column: initial;
  }
  .home__img{
    order: 1;
    justify-self: center;
  }

  .about__container,
  /* .skills__container, */
  .portfolio__content,
  .project__container,
  .contact__container,
  .footer__container{
    grid-template-columns: repeat(2, 1fr);
  }
  .skills__list{
    grid-template-columns: repeat(3, 1fr);
  }
  .qualification__sections{
    display: grid;
    /* grid-template-columns: .6fr; */
    justify-content: center;
  }
  
}

@media screen and (min-width: 768px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  body{
    margin: 0;
  }

  .section{
    padding: 6rem 1rem 2rem;
  }
  .section__subtitle{
    margin-bottom: 4rem;
  }

  .header{
    top: 0;
    bottom: initial;
  }
  .header,
  /* .main, */
  .footer__container{
    padding: 1rem;
  }
  .nav{
    height: calc(var(--header-height)+1.5rem);
    column-gap: 1rem;
  }
  .nav__icon,
  .nav__close,
  .nav__toggle{
    display: none;
  }
  .nav__list{
    display: flex;
    column-gap: 2rem;
  }
  .nav__menu{
    margin-left: auto;
  }
  .change-theme{
    margin: 0;
  }
  .home__container{
    row-gap: 5rem;
  }
  .home__content{
    padding-top: 5.5rem;
    column-gap: 2rem;
  }
  .home__blob{
    width: 270px;
  }
  .home__scroll{
    display: block;
  }
  .home__scroll-button{
    margin-left: 3rem;
  }

  .about__container{
    column-gap: 5rem;
  }
  .about__img{
    width: 350px;
  }
  /* .about__description{
    text-align: initial;
  } */
  .about__info{
    justify-content: space-between;
  }
  .about__buttons{
    justify-content: initial;
  }
  .skills__container{
    grid-template-columns: repeat(2, 1fr);
  }
  .skills__list{
    grid-template-columns: repeat(2, 1fr);
  }
  .qualification__tabs{
    justify-content: center;
  }
  .qualification__button{
    margin: 0 var(--mb-1);
  }
  .qualification__sections{
    grid-template-columns: .9fr;
  }

  .portfolio__img{
    width: 320px;
    /* width: 80%; */
  }
  .portfolio__iframe{
    width: 384px;
  }
  .portfolio__content{
    align-items: center;
  }

  .footer__container{
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__bg{
    padding: 3rem 0 3.5rem;
  }
  .footer__links{
    flex-direction: row;
    column-gap: 2rem;
  }
  .footer__socials{
    justify-self: flex-end;
  }
  .footer__copy{
    margin-top: 4.5rem;
  }

}

/* For large devices */
@media screen and (min-width: 1024px){
  .header,
  .main,
  .footer__container{
    /* padding: 0; */
  }
  .container{
    max-width: 1024px;
  }
  .home__blob{
    width: 320px;
  }
  .home__social{
    transform: translateX(-6rem);
  }
  .skills__list{
    grid-template-columns: repeat(3, 1fr);
  }
  .portfolio__content{
    column-gap: 5rem;
  }
  .swiper-portfolio-icon{
    font-size: 3.5rem;
  }
  .swiper-button-prev{
    left: -3.5rem
  }
  .swiper-button-next{
    right: -3.5rem;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: -4.5rem;
  }
  .contact__form{
    width: 460px;
  }
  .contact__inputs{
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (min-width: 1352px){
  .large__image__end,
  .large__image__start{
    display: initial;
    visibility: initial;
  }
}